mat-sidenav {
    width: 100px;
    padding:15px;
    background-color: rgb(35, 0, 235);
}

mat-toolbar{
    background-color: rgb(35, 0, 235);
}
.mat-drawer { 
    background-color: #023075;
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.icon{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    margin-right: 10px;
}