.mat-toolbar{
  background-color: rgb(35, 0, 235);
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-color: rgb(35, 0, 235);
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container{
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


