<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="[ '/blog' ]" routerLinkActive="active" class="menu" mat-list-item >Inicio</a>
      <a [routerLink]="[ '/formulario' ]" routerLinkActive="active" class="menu" mat-list-item>Formulario</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <span>
          <strong>K-</strong>Chorros
        </span>
        <button class="icon" mat-mini-fab aria-label="icon-button heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <ng-content ></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
