main{
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #a3a3a3;
}

.container{
    width: 100%;
}

.image{
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.image img{
    width:300px;
    height: 300px;
    border-radius: 100%;
}

.example-form {
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  
.center{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10px;
    margin:10px;

}


@media screen and (min-width: 680px){

    .container{
        display: flex;
        flex-direction: row-reverse;
    }

    .image img{
        float: right;
        width: 300px;
        height: 300px;
        border-radius: 100%;
    }
    
    .image{
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
    }
}