<main>
    <div class="container">
        <div class="image">
            <img class="imagen" src="../../../assets/images/perro.jpg">
        </div>
        <div class="center">
            <form class="example-form">
                <mat-card-header>
                    <div class="header-form">
                    <mat-card-title>Formulario</mat-card-title>
                    <br>
                    <mat-card-subtitle>K-Chorros</mat-card-subtitle>
                    </div> 
                </mat-card-header>
                
                <table class="full-width" cellspacing="0"><tr>
                <td><mat-form-field class="full-width">
                    <mat-label>Nombre del Perro</mat-label>
                    <input matInput>
                </mat-form-field></td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Raza</mat-label>
                            <mat-select>
                            <mat-option>Desconocido</mat-option>
                            <mat-option *ngFor="let raza of razas" [value]="raza">{{raza}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>    
            </table>
            
                <p>
                <mat-form-field class="full-width">
                    <mat-label>Direccion del Dueño</mat-label>
                    <textarea matInput placeholder="Av. Peluche 100"></textarea>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Telefono del Dueño</mat-label>
                    <span matPrefix>+52 &nbsp;</span>
                    <input type="tel" matInput placeholder="555-555-1234">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                </p>
            
                <table class="full-width" cellspacing="0"><tr>
                <td><mat-form-field class="full-width">
                    <mat-label>Caracteristicas Del Perro</mat-label>
                    <textarea matInput placeholder="Pelo negro, cola cortada..."></textarea>
                </mat-form-field></td>
                </tr></table>

                <table class="full-width" cellspacing="0"><tr>
                    <td>    <button mat-raised-button color="warn">Enviar</button>
                    </td>
                </tr></table>
            </form>
        </div>
    </div>
</main>
      

