.center {
    width: 100%;
    box-shadow: black;  
    background-color: white;
}

main{
    margin: auto;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    background-color: white;
}

img {
    width: 100%;
}

hr{
    width: 90%;
}

.title{
    padding-top: 20px;
    font-size: 25px;
    font-weight: 900;
}

.left{
text-align: center;
    background-color: white;
    margin: 0 auto;
}

.info{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px ;
    background-color: white;
}

.content-2{
    width: 100%;
    text-align: center;
}

.content-2 h1{
    font-weight: 100;
    margin-top: 10px;
}

.content-2 hr{
    width: 100px;
    height: 2px;
    margin:auto;
    border-style: none;
}

.content-detail{
    width: 100%;
}

.item-detail{
    width: auto;
    margin: 10px;
    background-color: white;
    padding-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.item-detail:hover{
    box-shadow: 10px 10px #dddddd;
}

.icon-detail{
    border-radius: 50%;
    display: flex; 
    margin: auto;
    margin-top: 40px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.icon-detail span{
    font-size: 100px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    padding: 46px;
    margin: auto;

}

.content-detail h4{
font-weight: 100;
font-size: 18px;
margin-top: 40px;
}

.content-detail p{
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.icon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
    box-shadow: 5px 10px #888888;
    animation: latir infinite 2s linear;
}

@keyframes latir{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.02,1.02);
    }
    55%{
        transform: scale(0.95,0.95);
    }
    100%{
        transform: scale(1,1);
    }
}

@media screen and (min-width: 1000px){

    img{
        width: 75%;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 5px 10px #888888;
    }
    .center{
        text-align: center;
        padding-top: 10px;
    }

    .content-detail{
        display: flex;
    }
}

