<main>
    <div class="center">
        <img src="https://mascotasymas.net/wp-content/uploads/2018/02/perros-portada-min.png">
    </div>
    <div class="left">
        <h1 class="title">Welcome!!!</h1>
        <hr>
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Provident quaerat cum odit quia exercitationem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat provident, modi suscipit magnam exercitationem id voluptatem at unde maxime reiciendis ex deserunt perferendis eveniet delectus. Rerum amet explicabo dignissimos quis.
        </h3>
    </div>  
    <div class="content-2">
        <h1 class="info">Mas Información!!</h1>
        <hr>
        <div class="content-detail">
            <div class="item-detail">
                <div class="icon-detail">
                    <img class="icon" src="https://estaticos.muyinteresante.es/media/cache/760x570_thumb/uploads/images/article/5c3871215bafe83b078adbe3/perro.jpg">    
                </div>
                <h4>lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, enim!</p>
            </div>
            <div class="item-detail">
                <div class="icon-detail">
                    <img class="icon" src="https://mx.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg">    
                </div>
                <h4>lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, enim!</p>
            </div>
            <div class="item-detail">
                <div class="icon-detail">
                    <img class="icon" src="https://www.nationalgeographic.com.es/medio/2019/09/09/bull-dog-ingles_043b09e1_800x800.jpg">    
                </div>
                <h4>lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, enim!</p>
            </div>
        </div>
    </div>
</main>